header{
	position: relative;
	width: 100%;
	height:30px;
	background: #F4F4F4;
	border-bottom: 1px solid #e5e5e5;
}
header .sh_address{
	position: absolute;
	left: 62px;
	width: 122px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	/*border: 1px solid gray;*/
	cursor: pointer;
}
header .sh_address .ads_icon{
	width: 16px;
	height: 16px;
	background: url(../img/address.png) cover;
}
header .sh_address a.changeads{
	font-size: 12px;
	color: rgb(102,102,102);
}
header .sh_address:hover a.changeads{
	color: rgb(255,64,64);
}
header .logintxt{
	position: absolute;
	left: 920px;
	width: 62px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: rgb(255,64,64);
}
header .logintxt a.log{
	font-size: 12px;
	color: rgb(255,64,64);
}
header .logintxt a.log:hover{
	cursor: pointer;
}
header .registertxt{
	position: absolute;
	left: 982px;
	width: 42px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
header .registertxt a.reg{
	font-size: 12px;
	color: rgb(177,177,196);
}
header .registertxt a.reg:hover{
	color: rgb(255,64,64);
}
header ul.topr{
	position: absolute;
	left: 1034px;
	/*border: 1px solid gray;*/
}
header ul.topr li{
	float: left;
	padding: 0px;
	margin-right: 8px;
	width: 64px;
	text-align: center;
	line-height: 30px;
	/*border: 1px solid red;*/
}
header ul.topr li.mylist{
	width: 62px;
	padding-left: 8px;
	background: url(../img/list_black.png) 2px no-repeat;
	background-size: 13px 13px;
	text-align: center;
	line-height: 30px;
	/*border: 1px solid red;*/
}
header ul.topr li.mylist:hover{
	background: url(../img/list_red.png) 2px no-repeat;
	background-size: 13px 13px;
}
header ul.topr li.mylist:hover a{
	color: rgb(255,64,64);
}
header ul.topr li a{
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	color: rgb(102,102,102);
}
header ul.topr li:nth-child(2){
	position: relative;
	width: 86px;
}
header ul.topr li:nth-child(2) img{
	margin-left: 4px;
	width: 8px;
	height: 8px;
	line-height: 30px;
}
header ul.topr li:nth-child(2):hover img,
header ul.topr li:nth-child(2):hover a.khfw{
	color: rgb(255,64,64);
	animation: rot 0.5s ;
	transform-origin: center;
}
header ul.topr li:nth-child(2):hover{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
	background: #fff;
}
@keyframes leave{
	0%{
		transform: rotateZ(360deg);
	}
	50%{
		transform: rotateZ(90deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}
@keyframes rot{
	0%{
		transform: rotateZ(0deg);
		transform-origin: center;
	}
	50%{
		transform: rotateZ(180deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
header ul.topr li:nth-child(2) ul{
	position: absolute;
	left: -1px;
	display: none;
}
header ul.topr li:nth-child(2) ul li{
	width: 78px;
	text-align: center;
}
header ul.topr li:nth-child(2) ul li a:hover{
	color: rgb(255,64,64);
}
header ul.topr li:nth-child(2) ul li:nth-child(1){
	text-align: initial;
}
header ul.topr li:nth-child(2) ul li:nth-child(2){
	padding: 0px;
	margin-left: 0px;
}
header ul.topr li:nth-child(2):hover ul{
	border: 1px solid #e5e5e5;
	border-top: none;
	background: #fff;
}
header ul.topr li:nth-child(3):hover {
	width: 90px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.manyads{
	display: none;
	position:absolute;
	top: 32px;
	left: 62px;
	padding-left: 20px;
	width:700px;
	height: 405px;
	border:1px solid #e5e5e5;
	border-top: none;
	background: #fff;
}
.formtab{
	height: 54px;
	text-align: initial;
	line-height: 54px;
}
.formtab label{
	float: left;
	font-weight: bold;
	font-size: 13px;
}
.formtab input[type="text"]{
	padding-left: 25px;
	margin-left: 6px;
	width: 148px;
	height: 26px;
	border: 1px solid #ccc;
	font-size: 12px;
	background: url(../img/search.png) 8px 6px no-repeat;
	background-size: 15px 15px ;
}
label[for="hotcity"]{
	margin-top: -8px;
}
.formtab{
	border-bottom: 1px solid dashed;
}
.formtab ul.hotcity{
	width: 630px;
	margin-left: 70px;
	height: 38px;
	line-height: 12px;
	/*border: 1px solid red;*/
}
.formtab ul.hotcity li{
	float: left;
	margin-top: 12px;
	width: 38px;
	margin-right: 24px;
	font-size: 12px;
}
.formtab ul.hotcity li a{
	color: #666;
}
.formtab ul.hotcity li a:hover{
	color: rgb(255,64,64);
}
.xvx{
	margin: 12px 0px;
	height: 1px;
	border-top: 1px dotted #ccc;
}
.formtab ul.letters{
	width: 630px;
	margin-left: 70px;
	/*border: 1px solid red;*/
}
.formtab ul.letters li{
	float: left;
	margin-right: 6px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: rgb(238,238,238);
}
.formtab ul.letters li:nth-child(22){
	margin-right: 0px;
}
.formtab ul.letters li a{
	color: rgb(128,128,128);
	font-size: 12px;
}
label[for="letters"]{
	font-size: 13px;
	margin-top: -16px;
}
/*---------------按字母查找下部----------*/
.box{
	position: relative;
	margin-top: -12px;
	height: 229px;
	overflow: hidden;
	/*border: 1px solid yellow;*/
}
.scroll{
	position: absolute;
	top:0px;
	right: 0px;
	width:15px;
	height: 590px;
	background: rgb(241,241,241);
}
.bar{
	position: absolute;
	top: 0px;
	width:15px;
	height: 50px;
	background: rgb(193,193,193);
	cursor:pointer;
}
.bar:hover{
	background: rgb(168,168,168);
}
.uplettercon {
	/*border:1px solid red;*/
}
.uplettercon li span.upperletter{
	color: rgb(206,206,206);
	font-size: 16px;
}
.upperletterA{
	position: absolute;
	left: 0px;
}
.uplettercon li.list{
	position: relative;
	margin-bottom: 10px;
	/*border:1px solid green;*/
}
/*A 2*/
.uplettercon li.list:nth-child(1){
	height: 48px;
}
/*B*/
.uplettercon li.list:nth-child(2){
	height: 76px;
}
/*C*/
.uplettercon li.list:nth-child(3){
	height: 76px;
}
/*D 2*/
.uplettercon li.list:nth-child(4){
	height: 48px;
}
/*E 1*/
.uplettercon li.list:nth-child(5){
	height: 20px;
}
/*F 1*/
.uplettercon li.list:nth-child(6){
	height: 20px;
}
/*G 2*/
.uplettercon li.list:nth-child(7){
	height: 48px;
}
/*H 4*/
.uplettercon li.list:nth-child(8){
	height: 108px;
}
/*J*/
.uplettercon li.list:nth-child(9){
	height: 76px;
}
/*K 1*/
.uplettercon li.list:nth-child(10){
	height: 20px;
}
/*L 4*/
.uplettercon li.list:nth-child(11){
	height: 108px;
}
/*M 1*/
.uplettercon li.list:nth-child(12){
	height: 20px;
}
/*N 2*/
.uplettercon li.list:nth-child(13){
	height: 48px;
}
/*P 1*/
.uplettercon li.list:nth-child(14){
	height: 20px;
}
/*Q 2*/
.uplettercon li.list:nth-child(15){
	height: 48px;
}
/*R 1*/
.uplettercon li.list:nth-child(16){
	height: 20px;
}
/*S 4*/
.uplettercon li.list:nth-child(17){
	height: 108px;
}
/*T 2*/
.uplettercon li.list:nth-child(18){
	height:48px;
}
/*W 2*/
.uplettercon li.list:nth-child(19){
	height:48px;
}
/*X*/
.uplettercon li.list:nth-child(20){
	height:76px;
}
/*Y*/
.uplettercon li.list:nth-child(21){
	height:76px;
}
/*Z*/
.uplettercon li.list:nth-child(22){
	height:76px;
}
.uplettercon li.list ul{
	position: absolute;
	top: -2px;
	width: 630px;
	margin-left: 24px;
	height: 38px;
	/*border: 1px solid blue;*/
}
.uplettercon li ul li{
	float: left;
	margin-right: 30px;
	line-height: 22px;
}
.uplettercon li ul li a{
	font-size: 12px;
	color: #666;
}
.uplettercon li ul li a:hover{
	color: rgb(255,64,64);
}
/*----------------------------------------第二部分-----------------------*/
.second_line{
	padding: 0px 30px;
	height: 150px;
	border: 1px solid red;
}
.second_line .inPut{
	width: 755px;
	position: relative;
	border: 1px solid blue;
}
.second_line img{
	line-height: 150px;
	border: 1px solid blue;
}
.second_line input[type="text"]{
	width: 700px;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	border: 3px solid rgb(255,64,64);
	border-right: 52px solid rgb(255,64,64);
}
